@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
}

.add-task-btn {
  background-color: #a3ffb2;
  color: #1f5e1e;
  padding: 1rem 1.5rem;
  border: 5px solid #50d04d;
  border-radius: 16px;
  font-size: 1.5rem;
  font-weight: 700;
}

input {
  background-color: white;
  padding: 1rem 1.5rem;
  border: 3px solid black;
  border-radius: 16px;
  font-size: 1.5rem;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-top: 3rem;
}

.card {
  min-height: 18rem;
  width: 18rem;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-container {
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
  flex-wrap: wrap;
}

.task-title {
  font-size: 2rem;
  text-wrap: wrap;
}

.task-date {
  opacity: 75%;
  margin-top: 0.5rem;
}

.trash-button {
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 8px;
  border: none;
}
